* {
  box-sizing: border-box;
}

#box {
  border: 1px solid black;
  box-shadow: 15px 10px 25px 5px #ffb6c230;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
.square {
  grid-column-start: auto;
  grid-row-start: auto;
  border: 1px solid black;
  width: auto;
  height: auto;
}

#reset {
  display: block;
  margin: 30px auto;
}